import 'package:flutter/material.dart';
import 'package:get_it/get_it.dart';
import 'package:minha_saude_frontend/providers/init.dart';

void main() async {
  // Ensure Flutter is initialized
  WidgetsFlutterBinding.ensureInitialized();
  
  // Initialize all providers
  initProviders();
  
  // Initialize auth state
  await GetIt.I<AuthProvider>().initialize();
  
  // Run the app
  runApp(const MyApp());
}

class MyApp extends StatelessWidget {
  const MyApp({super.key});

  @override
  Widget build(BuildContext context) {
    // TODO: Implement app
    return Container();
  }
}
